<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>457149755429-4m1n2dispqqe9vqhr9s67fi45n8g0utq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.457149755429-4m1n2dispqqe9vqhr9s67fi45n8g0utq</string>
	<key>API_KEY</key>
	<string>AIzaSyCHEFeZLWpBbnjD13bpmmfpQtWUIzY6pOg</string>
	<key>GCM_SENDER_ID</key>
	<string>457149755429</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.psu.cse.juh379.TravelDiary</string>
	<key>PROJECT_ID</key>
	<string>travel-diary-cb401</string>
	<key>STORAGE_BUCKET</key>
	<string>travel-diary-cb401.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:457149755429:ios:24317c75163fb9df8f0fcc</string>
	<key>DATABASE_URL</key>
	<string>https://travel-diary-cb401.firebaseio.com</string>
</dict>
</plist>